            <h1 class="mt-4">Tasty</h1>
            <h2 class="lead mb-3">Welcome <%= user.name %></h2>
            <a href="/users/logout" class="btn btn-danger">Logout</a>
            <a href="https://bruktiii.github.io/Yam-lollipops-web-app/" class="btn btn-primary">Continue to site</a>